body {
    margin: 0px;
}

.left,
.right {
    display: inline-block;
}

.left {
    text-align: right;
    padding-right: 3px;
}

.nowrap {
    white-space: nowrap;
}

#legend {
    text-align: left;
    padding-left: 15px;
    border-top: 3px groove;
}

#legend p {
    margin-block-end: 0px;
    margin-block-start: 5px;
}

#dateSpan {
    text-align: center;
    font-weight: bold;
}

.scaleBar {
    position: relative;
    display: inline-block;
    height: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    bottom: .25em;
}

.scaleBar.blue {
    background-color: #3300FF;
}

.scaleBar.green {
    background-color: #0CDA3B;
}

.scaleBar.blue::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 10px solid #3300FF;
    display: block;
    position: absolute;
    left: 100%;
    top: 1px;
    transform: translateY(-50%);
}

.scaleBar.green::after {
    content: "";
    width: 3px;
    height: 10px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: calc(100% + 7px);
    top: 1.5px;
    transform: translateY(-50%);
    border-right: 3px solid #0CDA3B;
}

.scaleBar.green::before {
    content: "";
    width: 7px;
    height: 3px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    border-top: 3px solid #0CDA3B;
}

#symbols {
    text-align: center;
}

.stationKey {
    text-align: right;
    display: inline-block;
}

.gnss {
    border: 3px solid white;
    background-color: #4900F4;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: 1px;
}

.gnss.tilt {
    border: 3px solid red;
}

.permalink {
    text-align: left;
}

#rangeSelector {
    position: absolute;
    background-color: lightgrey;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    transform: translate(-50%, 0);
    left: 50%;
    top: calc(100% + 10px);
    white-space: nowrap;
}

#calFrom::before {
    content: "Date From:";
    text-align: center;
}

#calTo::before {
    content: "Date To:";
    text-align: center;
}

#rangeSelector::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid darkgrey;
    display: block;
    position: absolute;
    bottom: 100%;
    left: calc( 50% - 10px);
}

.cal {
    display: inline-block;
    font-size: 12px;
}

div#main_body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

div#headers {
    padding-top: 5px;
}

label {
    font-weight: normal;
}

#options {
    position: relative;
}

#instrText {
    position: absolute;
    right: 15px;
    bottom: -1.5em;
    z-index: 2;
    text-shadow: 2px 2px whitesmoke;
}

.message {
    position: absolute;
    display: inline-block;
    top: 0px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 3em;
    text-align: center;
    background-color: green;
    z-index: 1000;
}

.msgtext {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.message.info {
    background-color: green;
}

.message.error {
    background-color: red;
    color: white;
}

.message.info {
    background-color: green;
}

.message.error {
    background-color: red;
    color: white;
}

#map {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-wrap: wrap;
    min-height: 0px;
    min-width: 250px;
}

#mapContainer {
    display: inline-grid;
    border: 1px solid darkgrey;
    border-top: none;
    grid-template-rows: auto 1fr;
    height: auto;
    vertical-align: top;
    padding-top: 1px;
    min-height: 50%;
    max-height: 100%;
    min-width: 200px;
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow-y: visible;
}

#mapWrapper {
    position: relative;
}

.chart {
    text-align: center;
    display: inline-grid;
    grid-template-rows: auto minmax(0, 1fr);
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    vertical-align: top;
    box-sizing: border-box;
    border-bottom: 1px solid darkgrey;
    position: relative;
    white-space: normal;
    min-height: 50px;
    max-height: 100%;
    min-width: 690px;
    height: auto;
    overflow: hidden;
    max-width: 715px;
    flex: 1;
}

@media only screen and (max-width: 1224px) and (orientation: landscape) {
    #mapContainer {
        max-width: 100vw;
    }
    #instrText {
        display: none;
    }
    .chart {
        min-width: 500px;
    }
}

@media only screen and (max-width: 1224px) and (orientation: portrait) {
    .chart {
        max-height: none;
        height: auto;
        min-height: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    #mapContainer {
        min-width: calc( 100vw - 10px);
        margin-bottom: 0px;
    }
    .tiltTop {
        overflow-y: hidden;
    }
    #instrText {
        display: none;
    }
}

.gpsTop {
    overflow-y: auto;
    padding-left: 5px;
}

.graphArea {
    height: 816px;
}

.graphWrapper {
    overflow-y: auto;
}

.graphImg {
    width: 100%;
}

.graphDisp {
    display: inline-block;
    position: relative;
    width: 100%;
}

.graphDisp.noData::before {
    content: "No data for date range";
    position: absolute;
    font-size: 3em;
    font-weight: bold;
    top: 25%;
    width: 100%;
    z-index: 1;
    text-align: center;
    left: 0px;
    pointer-events: none;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#vectorScale {
    max-width: 8ch;
}

.chartHeader {
    border-bottom: 4px groove;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#locations {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    margin: 0px;
    padding: 0px;
    padding-bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.locsDiv {
    display: inline-block;
}

#locsRight {
    display: none;
}

@media print {
    .chart {
        border-right: none;
    }
}

span.siteType {
    margin-right: 5px;
    padding: 2px 5px;
}

span.siteType.pbo {
    background-color: rgb(234, 255, 0);
}

span.siteType.continuous {
    background-color: rgb(73, 0, 244);
    color: white;
}

span.siteType.campaign {
    background-color: rgb(12, 218, 59);
    color: white;
}

.tiltTop {
    overflow-y: auto;
}

.tiltWrapper {
    position: relative;
    height: 100%;
    min-height: 1000px;
}

.tiltArea {
    height: 100%;
    min-height: 900px;
}

.tiltLabel {
    position: absolute;
    left: 70px;
    margin-top: 60px;
}

.tiltLabel.topLabel {
    top: 0px;
}

.tiltLabel.midLabel {
    top: 33%;
}

.tiltLabel.bottomLabel {
    top: 66%;
    width: 100%;
    text-align: center;
    left: 15px;
}

.chartHeader {
    position: relative;
}

.selectButtons {
    position: absolute;
    left: 0px;
    top: 2px;
    text-align: left;
}

.dateSelect {
    position: relative;
    display: inline-block;
    margin-left: max(0px, 430px - 100%);
}

.loading {
    border: .5em solid lightgray;
    border-top: .5em solid skyblue;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    animation: spin 2s linear infinite;
    position: absolute;
    right: -1.5em;
    bottom: 3px;
    box-sizing: border-box;
}

.loadingMsg{
    display:inline-block;
    position:relative;
    font-weight:bold;
    height:1.5em;
    line-height:1.5em;
    font-size: 125%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadMsg .loading {
    width: 3em;
    height: 3em;
    position: static;
    display: inline-block;
    margin-top: 10px;
}

#vectorLoading {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    background-color: rgba(0, 255, 0, .5);
    z-index: 100;
}

#vectorLoading .loading {
    position: static;
    display: inline-block;
    border: .25em solid lightgray;
    border-top: .25em solid skyblue;
}

.polarScale {
    position: absolute;
    border: 1px solid black;
    width: 25%;
    height: 20px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #ACD6E6, #1A0391);
    right: 5%;
    top: 54%;
}

.polarScale .scaleStart {
    position: absolute;
    left: 0px;
    top: 22px;
}

.polarScale .scaleStop {
    position: absolute;
    right: 0px;
    top: 22px;
}

#vectorScaleDiv {
    display: inline-block;
}

.extraData {
    overflow: auto;
    text-align: center;
}

.specialContent {
    text-align: justify;
    max-width: 1024px;
    display: inline-block;
}

img.menu {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    img.menu {
        display: inline;
    }
    #content {
        border-top: 1px solid darkgrey;
    }
    #locations button.tab {
        position: static;
        border-bottom: 1px solid #C9C9C9;
        margin-right: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    #locations button.tab.current {
        border-bottom: 1px solid #C9C9C9;
        height: auto;
    }
    .locsDiv {
        display: grid;
    }
    div#locations {
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 30px;
        box-sizing: border-box;
        position: absolute;
        width: auto;
        align-items: start;
        background-color: rgba(255, 255, 255, .75);
        border: 1px solid;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
        top: 25px;
        z-index: 500;
    }
}