<div id="headers" class="noPrint">
    <img src='static/img/Hamburger_icon.svg' class="menu">
    <div id="locations">
        <div id=locsLeft class="locsDiv">
            <select id="volcSelect">
		    {% for loc in volcOrder %}
		    {% set data=locations[loc] %}
		        <option data-lat={{data[ 'latitude']}} data-lon={{data[ 'longitude']}} data-zoom={{data[ 'zoom']}}
		    data-site='{{loc | replace(' ',' ')}}'>
		    {{loc}}
		</option>
		{%endfor%}
	    </select>
            <button id="download">Download</button>
        </div>
        <div id=locsRight class="locsDiv">
        </div>
    </div>
</div>
<div id="content">
    <div id="mapContainer" class="noPrint">
        <div id="options">
            <span id="instrText">Hold shift while clicking to graph multiple stations</span>
        </div>

        <div id=mapWrapper>
            <div id="map">
            </div>
        </div>
    </div>
</div>